sonnet29.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- Root document -->
  <xs:element name="document">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="sonnet" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>

              <xs:element name="title" type="xs:string"/>

              <!-- Exactly 4 quatrains -->
              <xs:element name="quatrain" minOccurs="4" maxOccurs="4">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="line" type="lineType" minOccurs="4" maxOccurs="4"/>
                  </xs:sequence>

                  <xs:attribute name="number" type="xs:string" use="required"/>
                </xs:complexType>
              </xs:element>

              <!-- Couplet -->
              <xs:element name="couplet">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="line" type="lineType" minOccurs="2" maxOccurs="2"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>

              <xs:element name="author" type="xs:string"/>
              <xs:element name="hr"/>

            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- Line definition -->
  <xs:complexType name="lineType">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="first_word"/>
      <xs:element name="first_letter"/>
      <xs:element name="rhymeA"/>
      <xs:element name="rhymeB"/>
      <xs:element name="rhymeC"/>
      <xs:element name="rhymeD"/>
      <xs:element name="rhymeE"/>
      <xs:element name="rhymeF"/>
      <xs:element name="rhymeG"/>
    </xs:choice>
    <xs:attribute name="number" type="xs:string" use="required"/>
  </xs:complexType>

</xs:schema>
