src/sonnet29.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- ========================================================= -->
  <!-- DOCUMENT -->
  <!-- ========================================================= -->

  <xs:element name="document">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="sonnet" type="sonnetType" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ========================================================= -->
  <!-- SONNET -->
  <!-- ========================================================= -->

  <xs:complexType name="sonnetType">
    <xs:sequence>

      <xs:element name="title" type="xs:string"/>

      <!-- exactly three quatrains -->

      <xs:element name="quatrain" type="quatrain1Type"/>
      <xs:element name="quatrain" type="quatrain2Type"/>
      <xs:element name="quatrain" type="quatrain3Type"/>

      <!-- exactly one couplet -->

      <xs:element name="couplet" type="coupletType"/>

      <!-- author -->

      <xs:element name="author" type="authorType"/>

    </xs:sequence>
  </xs:complexType>

  <!-- ========================================================= -->
  <!-- QUATRAIN 1 -->
  <!-- ========================================================= -->

  <xs:complexType name="quatrain1Type">
    <xs:sequence>

      <xs:element name="line" type="quatrainAntecedentLine1"/>
      <xs:element name="line" type="quatrainAntecedentLine2"/>
      <xs:element name="line" type="quatrainConsequentLine3"/>
      <xs:element name="line" type="quatrainConsequentLine4"/>

    </xs:sequence>

    <xs:attribute name="number" use="required" fixed="1"/>

  </xs:complexType>

  <!-- ========================================================= -->
  <!-- QUATRAIN 2 -->
  <!-- ========================================================= -->

  <xs:complexType name="quatrain2Type">
    <xs:sequence>

      <xs:element name="line" type="quatrainAntecedentLine1"/>
      <xs:element name="line" type="quatrainAntecedentLine2"/>
      <xs:element name="line" type="quatrainConsequentLine3"/>
      <xs:element name="line" type="quatrainConsequentLine4"/>

    </xs:sequence>

    <xs:attribute name="number" use="required" fixed="2"/>

  </xs:complexType>

  <!-- ========================================================= -->
  <!-- QUATRAIN 3 -->
  <!-- ========================================================= -->

  <xs:complexType name="quatrain3Type">
    <xs:sequence>

      <xs:element name="line" type="quatrainAntecedentLine1"/>
      <xs:element name="line" type="quatrainAntecedentLine2"/>
      <xs:element name="line" type="quatrainConsequentLine3"/>
      <xs:element name="line" type="quatrainConsequentLine4"/>

    </xs:sequence>

    <xs:attribute name="number" use="required" fixed="3"/>

  </xs:complexType>

  <!-- ========================================================= -->
  <!-- COUPLET -->
  <!-- ========================================================= -->

  <xs:complexType name="coupletType">
    <xs:sequence>

      <xs:element name="line" type="coupletAntecedentLine1"/>
      <xs:element name="line" type="coupletConsequentLine2"/>

    </xs:sequence>
  </xs:complexType>

  <!-- ========================================================= -->
  <!-- BASE LINE TYPE -->
  <!-- ========================================================= -->

  <xs:complexType name="baseLineType" mixed="true">

    <xs:sequence>

      <!-- optional opening first word -->

      <xs:element name="first_word"
                  type="xs:string"
                  minOccurs="0"
                  maxOccurs="1"/>

      <!-- required rhyme ending -->

      <xs:element name="rhyme"
                  type="rhymeType"
                  minOccurs="1"
                  maxOccurs="1"/>

    </xs:sequence>

  </xs:complexType>

  <!-- ========================================================= -->
  <!-- QUATRAIN LINE TYPES -->
  <!-- ========================================================= -->

  <xs:complexType name="quatrainAntecedentLine1">
    <xs:complexContent>
      <xs:extension base="baseLineType">

        <xs:attribute name="number" use="required" fixed="1"/>

      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="quatrainAntecedentLine2">
    <xs:complexContent>
      <xs:extension base="baseLineType">

        <xs:attribute name="number" use="required" fixed="2"/>

      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="quatrainConsequentLine3">
    <xs:complexContent>
      <xs:extension base="baseLineType">

        <xs:attribute name="number" use="required" fixed="3"/>

      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="quatrainConsequentLine4">
    <xs:complexContent>
      <xs:extension base="baseLineType">

        <xs:attribute name="number" use="required" fixed="4"/>

      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- ========================================================= -->
  <!-- COUPLET LINE TYPES -->
  <!-- ========================================================= -->

  <xs:complexType name="coupletAntecedentLine1">
    <xs:complexContent>
      <xs:extension base="baseLineType">

        <xs:attribute name="number" use="required" fixed="1"/>

      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="coupletConsequentLine2">
    <xs:complexContent>
      <xs:extension base="baseLineType">

        <xs:attribute name="number" use="required" fixed="2"/>

      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- ========================================================= -->
  <!-- RHYME -->
  <!-- ========================================================= -->

  <xs:complexType name="rhymeType">

    <xs:simpleContent>

      <xs:extension base="xs:string">

        <!-- flexible rhyme identity -->

        <xs:attribute name="scheme" use="required">
          <xs:simpleType>
            <xs:restriction base="xs:string">

              <xs:enumeration value="A"/>
              <xs:enumeration value="B"/>
              <xs:enumeration value="C"/>
              <xs:enumeration value="D"/>
              <xs:enumeration value="E"/>
              <xs:enumeration value="F"/>
              <xs:enumeration value="G"/>

            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>

        <!-- rhyme quality -->

        <xs:attribute name="type" use="required">
          <xs:simpleType>
            <xs:restriction base="xs:string">

              <xs:enumeration value="perfect"/>
              <xs:enumeration value="near"/>

            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>

        <!-- cadence role -->

        <xs:attribute name="cadence" use="required">
          <xs:simpleType>
            <xs:restriction base="xs:string">

              <xs:enumeration value="antecedent"/>
              <xs:enumeration value="consequent"/>

            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>

      </xs:extension>

    </xs:simpleContent>

  </xs:complexType>

  <!-- ========================================================= -->
  <!-- AUTHOR -->
  <!-- ========================================================= -->

  <xs:complexType name="authorType">
    <xs:sequence>

      <xs:element name="name" type="xs:string"/>
      <xs:element name="date" type="xs:string"/>

    </xs:sequence>
  </xs:complexType>

</xs:schema>
